body{
margin:0;
font-family:Arial, sans-serif;
background:#0f172a;
color:white;
}

header{
background:#1e293b;
text-align:center;
padding:20px;
}

nav a{
color:white;
text-decoration:none;
margin:0 15px;
}

.hero{
text-align:center;
padding:60px 20px;
}

button{
background:#ef4444;
color:white;
border:none;
padding:10px 20px;
border-radius:8px;
}

.catalogo{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
padding:30px;
}

.card{
width:200px;
background:#1e293b;
border-radius:10px;
text-align:center;
padding:10px;
}

.card img{
width:100%;
height:260px;
object-fit:cover;
}

.sinopse{
display:none;
}

.sobre{
width:70%;
margin:30px auto;
text-align:center;
}
.card{
    transition:0.4s;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 8px 20px rgba(0,0,0,0.5);
}

.card img{
    transition:0.4s;
}

.card:hover img{
    transform:scale(1.05);
}

button{
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
}