body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: #f8fafc;
}

header {
    background-color: #1e293b;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #f8fafc;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ef4444;
}
.catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}
.card {
    background-color: #1e293b;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}
.card img {
    width: 100%;
    border-radius: 8px;
}

button {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    background-color: #ef4444;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #dc2626;
}

.sinopse {
    display: none;
    font-size: 14px;
    margin-top: 10px;
    color: #cbd5e1;
}